* {
	margin: 0px;
	padding: 0px;
}

img {
	width: 100%;
	max-width: 100%;
}

.text {
	color: white;
	margin: 0px;
	padding: 10px;
}

.intro {
	background-color: #2D3E50;
	width: 100%;
}

.login {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.mid-header {
	align-items: center;
}

.search {
	text-align: right;
	height: 100%;
	align-items: center;
}

.search-box:after {
	font-family: "fontawesome";
	content: "\f002";
}

.search-box {
	display: inline-block;
	padding: 5px 10px;
}

.cart > i {
	background-color: red;
	padding: 10px;
	border-radius: 50%;   
	color: white;         
}

.shopping {
	display: inline-block;
}

.cart-text, .cart-price {
	height: 100%;
}

.next-cart {
	padding-left: 10px;
}

.cart {
	display: inline-block;
}

.cart-text {
	display: inline-block;
}

.cart-price {
	display: block;
	font-weight: bold;
	color: red;
	margin-top: -20px;
	font-size: 20px;
}

.nav {
	width: 100%;
	background-color: #652D92;
	align-items: center;
	display: flex;
}

nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mobile-nav {
	display: none;
	color: white;
	background-color: #652D92;
}

.mobile-nav > i {
	border: 1px solid white;
	padding: 3px;
}

.catagories {
	font-weight: bold;
	display: inline-block;
}

.main-menu {
	list-style-type: none;
	display: flex;
	margin: 0px;

}

.main-menu > li > a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	position: relative;
}

.main-menu > li > a:hover {
	background-color: #763BA7;
}

.main-menu > li:hover > .sub-menu {
	display: block;
}

.sub-menu {
	position: absolute;
	list-style-type: none;
	margin: 0px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	display: none;
}

.sub-menu > li {
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}

.sub-menu > li > a {
	color: #652D92;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}

.sub-menu > li > a:hover {
	background-color: #652D92;
	color: white;
}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	width: 100%;
	font-size: 25px;
	border-left: 3px solid #652D92;
	border-top: 1px dotted #652D92;
	border-bottom: 1px dotted #652D92;
	background-color: #F8F8F8;
	padding-top: 5px;
	padding-bottom: 5px;
}

.side-title {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	border-left: 3px solid #652D92;
	border-top: 1px dotted #652D92;
	border-bottom: 1px dotted #652D92;
	background-color: #F8F8F8;
}

.product {
	background-color: #F8F8F8;
}

.product-text {
	padding: 5px;
}

.product-name {
	font-size: 17px;
}

.product-code {
	color: purple;
	font-weight: bold;
}

.product-price-del {
	color: grey;
	display: inline-block;
	margin: 0px;
}

.product-price {
	color: red;
	font-weight: bold;
	margin: 0px;
}

.side-bar {
	margin-top: 50px;
	font-size: 20px;
}

.wrap {
	border-bottom: 1px dotted lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .mobile-nav {
  	display: block;
  }

  .computer-nav {
  	display: none;
  }

  .search {
  	text-align: center;
  }

  .mid-header {
  	text-align: center;
  }
}